.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $line-height-sm;
    color: $primary-1;
    margin-bottom: 0;
    
    &_light {
        color: $primary-5;
    }
}

.h1 {
    font-size: $h1-font-size * 0.75;
    &_top {
        color:rgba(24, 35, 68, 1);
        font-size: 70px;
        line-height: 85.33px;
        font-weight: bolder;  
    }
    &_build {
        background: linear-gradient(to right, rgba(200, 78, 137, 1) 0%, rgba(241, 95, 121, 1) 100%);
        -webkit-text-fill-color: transparent; 
        background-clip: text; 

        font-size: 70px;
        line-height: 85.33px;
        font-weight: bolder;
    }
}

.h2 {
    font-size: $h2-font-size * 0.80;
}

.h3 {
    font-size: $h3-font-size * 0.85;
}

.h4 {
    font-size: $h4-font-size * 0.90;
}

.h5 {
    font-size: $h5-font-size * 0.95;
}

.h6 {
    font-size: $h6-font-size;
}

@media (min-width: $md) {
    .h1 {
        font-size: $h1-font-size;
    }
    
    .h2 {
        font-size: $h2-font-size;
    }
    
    .h3 {
        font-size: $h3-font-size;
    }
    
    .h4 {
        font-size: $h4-font-size;
    }
    
    .h5 {
        font-size: $h5-font-size;
    }
    
    .h6 {
        font-size: $h6-font-size;
    }
}