.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $line-height-sm;
    color: $primary-1;
    margin-bottom: 0;
    
    &_light {
        color: $primary-5;
    }
}

.h1 {
    font-size: $h1-font-size * 0.75;
        &_top {
            position: relative;
            color: rgba(15, 22, 44, 1);
            transition: color 1s ease-in 0.5s;

            background-image: linear-gradient(to right, rgba(232, 165, 65, 1) 0%, rgba(232, 115, 65, 1) 100%);
            background-clip: text;

            font-size: 70px;
            line-height: 85.33px;
            font-weight: bolder;  
            letter-spacing: -.05em;
        }
        &_build {
            color: rgba(15, 22, 44, 1);
            transition: color 1s ease-in 0.5s;

            background-image: linear-gradient(to right, rgba(200, 78, 137, 1) 0%, rgba(241, 95, 121, 1) 100%);
            background-clip: text;

            font-size: 70px;
            line-height: 85.33px;
            font-weight: bolder;
            letter-spacing: -.05em;
        }
        &_develop {
            margin-bottom: $spacer * 7;

            color: rgba(15, 22, 44, 1);
            transition: color 1s ease-in 0.5s;
            background-image: linear-gradient(to right, rgba(103, 131, 218, 1) 0%, rgba(139, 103, 218, 1) 100%);
            background-clip: text;


            font-size: 70px;
            line-height: 85.33px;
            font-weight: bolder; 
            letter-spacing: -.05em; 
        }
}

.h2 {
    font-size: $h2-font-size * 0.80;
}

.h3 {
    font-size: $h3-font-size * 0.85;
}

.h4 {
    font-size: $h4-font-size * 0.90;
}

.h5 {
    font-size: $h5-font-size * 0.95;
}

.h6 {
    font-size: $h6-font-size;
}

@media (min-width: $md) {
    .h1 {
        font-size: $h1-font-size;
    }
    
    .h2 {
        font-size: $h2-font-size;
        //padding: 0px 60px 0px 0px;
    }
    
    .h3 {
        font-size: $h3-font-size;
    }
    
    .h4 {
        font-size: $h4-font-size;
    }
    
    .h5 {
        font-size: $h5-font-size;
    }
    
    .h6 {
        font-size: $h6-font-size;
    }
}

@media (max-width: 375px) {
    .h2 {
        font-size: 26px;
    }
}

.transparency {
    color: rgba(255, 255, 255, 0);
}
