{
  "ignorePatterns": [
    "src/serviceWorker.js",
    "antac_graph/",
    "landing/"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react-hooks"
  ],
  "extends": [
    "react-app",
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "globals": {
    "Chart": true,
    "helper": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  },
  "rules": {
    "operator-linebreak": ["warn", "after"],
    "spaced-comment": "off",
    "no-param-reassign": "off",
    "object-curly-newline": "off",
    "padded-blocks": "warn",

    "react/forbid-prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-no-target-blank": "off",

    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/control-has-associated-label": "off",

    "no-unused-vars": "warn",
    "no-trailing-spaces": "warn",

    "react-hooks/exhaustive-deps": "off",

    "import/prefer-default-export": "off",
//    "no-template-curly-in-string": "off",

    "react/no-did-update-set-state": "warn",
    "react/jsx-curly-brace-presence": "warn",
    "react/no-array-index-key": "warn",

    "arrow-body-style": ["warn", "as-needed"],


    "react/prop-types": ["error", {
      "ignore": ["children"]
    }],

    "camelcase": "off",
    "no-console": "warn",
    "no-debugger": "warn",
    "react/no-unescaped-entities": "off",
    "no-new": "off",
    "no-unreachable": "warn",
    "func-names": "off",
    "no-shadow": "off"
  }
}
