.do-pep-company-scheme {
  @import "~bootstrap/scss/functions";
  @import "~bootstrap/scss/variables";
  @import "~bootstrap/scss/mixins";

  @import "~bootstrap/scss/spinners";
  @import "~bootstrap/scss/reboot";
  @import "~bootstrap/scss/list-group";
  @import "~bootstrap/scss/type";
  @import "~bootstrap/scss/forms";
  @import "~bootstrap/scss/buttons";
  @import "~bootstrap/scss/popover";
  @import "~bootstrap/scss/dropdown";
  @import "~bootstrap/scss/utilities/display";
  @import "~bootstrap/scss/utilities/spacing";
  @import "~bootstrap/scss/utilities/screenreaders";
  @import "~bootstrap/scss/utilities/text";

  position: relative;
  height: 100%;
  width: 100%;

  font-family: $font-family-base;
  @include font-size($font-size-base);
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;

  .btn {
    height: auto;
  }

  ol, ul {
    list-style: outside;
  }

  // MAIN GRID =================

  .main-grid {
    //position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 200px auto 220px;
    //grid-template-rows: 63px auto 1fr;
    grid-template-rows: min-content auto 1fr;
    align-items: start;
    //grid-template-areas:
    //        "search search . filters"
    //        "detail . . filters"
    //        "detail . . legend";
    grid-template-areas:
            "search search . legend"
            "detail . . legend"
            "detail . . legend";
  }

  .do-search-block {
    grid-area: search;
  }

  .do-node-detail {
    overflow-y: auto;
    grid-area: detail;
  }

  .do-filters {
    grid-area: filters;
  }

  .do-legend-block {
    grid-area: legend;
  }

  // END MAIN GRID ====================

  // POPOVER ==========================

  .popover-body.popover-primary {
    font-size: 12px;
    color: #4D4D4D;
    border: 1px solid #3FA2F7;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    //border-radius: 0;
  }

  .popover-body .company-name {
    font-weight: 800;
    font-size: 13px;
  }

  // END POPOVER ======================

  // SEARCH ===========================

  .do-search {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 12px;
  }

  .do-search-dropdown {
    max-height: 50vh;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.25);
  }

  .do-search-result {
    display: flex;
    align-items: center;

    > img {
      flex-grow: 0;
    }

    &-text {
      flex-grow: 1;
    }
  }

  // END SEARCH ===========================

  // SIDE BLOCK ===========================

  .side-block {
    //padding: 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    &-right {
      @media (min-width: 992px) {
        width: 220px;
        float: right;
      }
    }

    .side-block-header {
      /*font-family: Roboto;*/
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      margin: 0 20px;
      padding: 13px 0;
      border-bottom: 1px solid #C4C4C4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //padding-right: 10px;
      cursor: pointer;
    }

    .side-block-body {
      //height: 200px;
      padding: 10px 16px;
      overflow-y: auto;
    }

    .prop-name {
      color: black;
      font-size: 14px;
      font-weight: bold;
    }

    .slide-icon {
      width: 14px;
      height: 26px;
      transition: transform .5s ease;
    }
  }

  .do-node-detail {
    .node-name {
      text-transform: uppercase;
      color: black;
    }

    .side-block-body {
      color: #959595;
      font-size: 14px;
    }
  }

  .rotate-180 {
    transform: rotate(180deg);
  }

  // END SIDE BLOCK ===========================

  // GREEN STYLE =======================

  $color-green: #219653;

  //.custom-control-input:checked ~ .custom-control-label::before {
  //  color: #fff;
  //  border-color: $color-green;
  //  background-color: $color-green;
  //}
  //
  //.custom-control-label::before {
  //  border: rgba(0, 0, 0, 0.54) solid 2px;
  //}

  .btn-green {
    color: #fff;
    background-color: $color-green;
    border-color: $color-green;
  }

  .text-green {
    color: $color-green;
  }

  .bg-green {
    background-color: $color-green;
  }

  .border-green {
    border-color: $color-green;
  }

  // END GREEN STYLE =======================

  // LEGEND ITEMS =======================

  .legend-item {
    display: flex;
    align-items: center;

    &-icon {
      padding: 4px;
      margin-right: 6px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-line {
      width: 32px;
      height: 5px;
      border-radius: 3px;

      //&.dashed {
      //  border-style: dashed;
      //  //border-top-width: 2px;
      //  border-width: 5px 0 0 0;
      //  height: 5px
      //}
    }

    &.legend-text {
      font-size: 14px;
      color: #333;
    }
  }

  .list-group-item-action {
    cursor: pointer;
  }

  // END LEGEND ITEMS ========================

  // LOADING ANIMATION =======================

  .loading-container {
    //height: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ADBCD9;
  }

  .side-block-l-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .l-container,
  .l-dot-container {
    position: relative;
    width: 100px;
    height: 100px;
  }

  .l-container {
    transform-origin: center;
    animation: anirotate 10s linear infinite;
  }

  .l-dot-container {
    position: absolute;
    border: 0 solid #fff;
    border-radius: 50px;

    &:nth-child(2) {
      transform: rotate(40deg);

      .dot {
        //animation-delay: -0.35s;
        animation-delay: -0.5s;
      }
    }

    &:nth-child(3) {
      transform: rotate(80deg);

      .dot {
        //animation-delay: -0.35s;
        animation-delay: -1s;
      }
    }
  }

  .l-dot {
    position: absolute;
    height: 10px;
    width: 10px;
    background: #868686;
    border-radius: 5px;
    transform: translate(0, 0);

    &:nth-child(1) {
      top: 0;
      left: calc(50% - 5px);
      animation: ani1 2s infinite;
    }

    &:nth-child(2) {
      bottom: calc(28% - 5px);
      left: calc(11% - 5px);
      animation: ani2 2s infinite;
    }

    &:nth-child(3) {
      bottom: calc(28% - 5px);
      right: calc(11% - 5px);
      animation: ani3 2s infinite;
    }
  }

  [hidden] {
    display: none;
  }

  @keyframes anirotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-359deg);
    }
  }

  @keyframes ani1 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-40px, 67px);
    }
  }

  @keyframes ani2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(77px, 0);
    }
  }

  @keyframes ani3 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-39px, -67px);
    }
  }

  // END LOADING ANIMATION =======================

  // GRAPH CONTAINER ============================

  .do-graph-container {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;

    > svg {
      width: 100%;
      height: 100%;
    }
  }

  // unused for now
  #graph-space {
    @media (max-width: 992px) {
      height: 500px;
    }
  }

  .node-image {
    stroke-width: 0;
  }

  // UTILS =====================

  .z-1 {
    z-index: 3;
  }

  .z-2 {
    z-index: 3;
  }

  .z-3 {
    z-index: 3;
  }

  .z-4 {
    z-index: 4;
  }

  // END UTILS =====================

  // THEME ANTAC ===================

  &.theme-antac {
    .do-search {
      border-radius: 0;

      .form-control {
        border-radius: 0;
      }

      button {
        border-radius: 0;
      }
    }

    .side-block {
      border-radius: 0;
    }

    .legend-item-line {
      border-radius: 0;
    }

    .popover {
      border-radius: 0;
    }

    .popover-body.popover-primary {
      border-radius: 0;
      border-color: #D9D9D9;
      border-width: 1px;
    }

    .dropdown-menu {
      border-radius: 0;
    }
  }

  // END THEME ANTAC ===================
}
