.landing-teams-container {
    display: flex;
    justify-content: center;

    &__img {
        max-width: 60%;
        border-radius: 20px;

        @media screen and (max-width: $md) {
            flex-direction: row;
            max-width: 70%;
        }

        @media screen and (min-width: $lg) {
            max-width: 100%;
        }
    }
}

.landing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: $spacer * 4;
    grid-row-gap: $spacer * 4;
}

.landing-image {
    display: flex;
    //justify-content: center;

    &__image {
        max-width: 100%;
        display: flex;
        justify-content: center;

        @media screen and (min-width: $md) {
            max-width: 700px;
        }

        @media screen and (min-width: $lg) {
            max-width: 800px;
        }
    }
}

.landing-image-dashboard {
    position: relative;

    @media (max-width: $lg) {
        justify-content: center;
        order: 1;
        max-width: 90%; 
        position: relative;
    }

    @media (min-width: $lg) and (max-width: $xl) {
        max-width: 60%;
    }
}

.landing-image-dashboard-1 {
    position: absolute;
    z-index: 1;
    padding: 20px 0px 0px 0px;
}
.landing-image-dashboard-2 {
    position: absolute;
    z-index: 2;
    padding: 0px 0px 0px 200px;
    margin-top: -30px;
    
    @media (max-width: $lg) {
        position: relative;
    }
}

.landing-image-grafic {
    justify-content: center;
    position: relative;
    
    @media (max-width: $md) {
        order: 1;
        max-width: 90%;
    }

    @media (min-width: $lg) and (max-width: $xl) {
        max-width: 60%;
    }
}

.landing-image-grafic-1 {
    position: absolute;
    z-index: 1;
}
.landing-image-grafic-2 {
    position: relative;
    z-index: 2;
    margin-top: -5%;
    margin-left: 200px;
    @media (max-width: $md) {
        position: relative;
    }
}

.landing-image-api {
    position: relative;
    margin-top: -3%;

    @media (max-width: $lg) {
        justify-content: center;
        order: 1;
        max-width: 90%; 
        position: relative;
        margin-top: 0%;
    }

    @media (min-width: $lg) and (max-width: $xl) {
        max-width: 80%;
        margin-top: 0%;
    }
}

.landing-feedback {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    min-height: 500px;
    justify-content: center;
    
    &__left,
    &__right {
        padding: $spacer * 4;
    }
    
    &__left {
        flex: 1 1 66.66%;
        background-color: white;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
    
    &__right {
        color: white;
        flex: 1 1 33.33%;
        background-color: $primary-1;
        margin-top: $spacer;

        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }

    &__right-text {
        font-size: $font-size-xxl;
        margin-bottom: $spacer * 6;
        display: block;
    }

    @media (min-width: $md) {
        flex-direction: row;

        &__left,
        &__right {
            padding: $spacer * 10;
        }

        &__left {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            border-top-right-radius: 0;
        }

        &__right {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: 0;
            margin-left: $spacer;
            margin-top: 0;
        }
    }
}