//Colour variables

$color-default-background: #EBF6FC;
$color-lightest-blue: #008EDD;
$color-light-blue: #0074CB;
$color-regular-blue: #005BB9;
$color-dark-blue: #005BB9;
$color-darkest-blue: #002895;
$color-white: #FFF;
$color-black: #000;
$color-base-text: #333;
$color-base-border: #CCC;
$color-dark-text: #4D4D4D;
$color-grid-item-boder: #CCE8F8;