@import "utils";
@import "toast";
@import "tables";

@media (min-width: 1279px) {
  body.login {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// TODO: is it possible not to use !important here?
// TODO: add --webkit props (ask/read about it)
.side-nav.no-animation .side-menu {
  opacity: 1 !important;
  animation: none !important;
  transform: none !important;
}

.pagination li .pagination__link:focus {
  outline: none;
}


.login .error {
  max-width: 24rem;
}

.select2 {
  //margin-top: 0.5rem;
  width: 100% !important;
}

.select2-hidden-accessible {
  left: 47%;
  top: 100%;
}

.button {
  &.disabled, &:disabled {
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
  }
}

.subscription-container:hover {
  z-index: 51;
}

.subscription {
  border-radius: .5rem;
  box-shadow: none;

  &:hover {
    box-shadow: 0 0 20px rgba(28, 63, 170, 0.4);
  }

  &.subscription-has-project {
    border-color: #1c3faa;
    border-width: 1px;
  }

  .subscription-project {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 42px;
    background-color: #1c3faa;
    color: white;
    border-top-right-radius: .375rem;
    border-top-left-radius: .375rem;
  }

  .subscription-price {
    margin-top: auto;
  }

  .subscription-button {
    //position: absolute;
    //bottom: 0;
    //margin-top: auto;
  }
}

.notification {
  .notification__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.notification--bullet:before {
    width: 10px;
    height: 10px;
  }
}

.notification-content {
  width: 500px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

  & &__body {
    max-height: 550px;
    overflow: auto;
  }

  & &__title {
    margin-bottom: 0;
  }
}

.pagination {
  margin-right: 0;
}

