@import "utils";
@import "toast";
@import "tables";
@import "progress-chart";
@import "select-dropdown";
@import "scrollbar";
@import "notification";
@import "subscription";
@import "pagination";
@import "pep";
@import "search-loader";

@media (min-width: 1279px) {
  body.login {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// TODO: is it possible not to use !important here?
// TODO: add --webkit props (ask/read about it)
.side-nav.no-animation .side-menu {
  opacity: 1 !important;
  animation: none !important;
  transform: none !important;
}

.login .validate-form {
  max-width: 384px;
}

.select2 {
  //margin-top: 0.5rem;
  width: 100% !important;
}

.select2-hidden-accessible {
  left: 47%;
  top: 100%;
}

.button {
  &.disabled, &:disabled {
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
  }
}
