@import "utils";

@media (min-width: 1279px) {
  body.login {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// TODO: is it possible not to use !important here?
// TODO: add --webkit props (ask/read about it)
.side-nav.no-animation .side-menu {
  opacity: 1 !important;
  animation: none !important;
  transform: none !important;
}

.pagination li .pagination__link:focus {
  outline: none;
}


.login .error {
  max-width: 24rem;
}

.select2 {
  //margin-top: 0.5rem;
  width: 100% !important;
}

.select2-hidden-accessible {
  left: 47%;
  top: 100%;
}

.button {
  &.disabled, &:disabled {
    opacity: 0.8;
  }
}

.notification {
  .notification__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.notification--bullet:before {
    width: 10px;
    height: 10px;
  }
}

.notification-content {
  width: 500px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

  & &__body {
    max-height: 550px;
    overflow: auto;
  }

  & &__title {
    margin-bottom: 0;
  }
}

