.border-1 {
  border-width: 1px;
}

.border-r-1 {
  border-right-width: 1px;
}

.border-l-1 {
  border-left-width: 1px;
}

.border-t-1 {
  border-top-width: 1px;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.rounded-br-xl {
  border-bottom-right-radius: 0.75rem;
}

.whitespace-nowrap {
  white-space: nowrap !important;
}

td.p-0 {
  padding: 0;
}

.bg-green-btn {
  background-color: #279324;
}

.max-h-3 {
  max-height: 65px;
}

.max-h-12 {
  max-height: 260px;
}

.min-h-screen-90 {
  min-height: 90vh;
}

.table-shadow {
  margin: 20px;
  z-index: 1;
  pointer-events: none;
  position: absolute;
  border-radius: .375rem;

  &.table-shadow-r {
    box-shadow: -30px 0px 20px -20px rgba(0, 0, 0, 0.15) inset;
  }
  &.table-shadow-l {
    box-shadow: 30px 0px 20px -20px rgba(0, 0, 0, 0.15) inset;
  }
  &.table-shadow-x {
    box-shadow: 30px 0px 20px -20px rgba(0, 0, 0, 0.15) inset, -30px 0px 20px -20px rgba(0, 0, 0, 0.15) inset;
  }
}

.w-72 {
  width: 18rem;
}
