path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

.popover-body.popover-primary {
    font-size: 12px;
    color: #4D4D4D;
    border: 1px solid #3FA2F7;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.popover-body .company-name {
    font-weight: 800;
    font-size: 13px;
}

.search {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 12px;
}

.search__input {
    display: flex;
}

.detail {
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.detail__header {
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 12px;
    margin-bottom: 16px;
    border-bottom: 1px solid #C4C4C4;
}
.detail__name {
    text-transform: capitalize;
}
.detail__prop {
    color: #959595;
    font-size: 14px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #219653;
    background-color: #219653;
}

.custom-control-label::before {
    border: rgba(0, 0, 0, 0.54) solid 2px;
}

.btn-green {
    color: #fff;
    background-color: #219653;
    border-color: #219653;
}
