.btn-primary {
    border: none;
    border-radius: $border-radius;
    background-color: $primary-1;
    color: white;
    padding:  $spacer * 1.2 $spacer * 3;
    font-size: 16px;
    font-family: $font-family-base;
    font-weight: 600;
    outline: none;
    
    &_color-1 {
        background-color: $primary-1;
    }

    &_color-2 {
        background-color: $primary-2;
    }

    &_color-3 {
        background-color: $primary-3;
    }

    &_color-3 {
        background-color: $primary-3;
    }

    &_color-5 {
        background-color: $primary-5;
    }

    &_large {
        padding: $spacer * 1.75 $spacer * 4;
    }

    &_dataocean {
        //position: absolute;
        width: 55%;
        line-height: 150%;
        font-weight: bolder;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
        ion-icon {
            vertical-align:  middle;
        }

        @media screen and (min-width: $lg) {
            font-size: 22px;
        }

        @media screen and (max-width: $xl) {
            width: 60%;
        }

        @media screen and (max-width: $sm) {
            width: 80%;
        }
    }
    &_api {
        width: 55%;
        text-decoration: none;
        line-height: 150%;
        font-weight: bolder;
        margin-top: 7%;
    }
}

.btn-primary:hover {
    cursor: pointer;
    border: none;
    transition: 0.5s;
    box-shadow: 0px 10px 16px 0px rgba(77,91,237,0.2);
}

.btn-primary:active {
    border: none;
}

.btn--has-shadow {
    box-shadow: 0px 10px 16px 0px rgba(77,91,237,0.2);
}

.btn-primary_dataocean span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    i {
        padding-left: 10px;
    }
}

.btn-primary_dataocean span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-primary_dataocean:hover span {
    padding-left: 25px;
}

.btn-primary_dataocean:hover span:after {
    opacity: 1;
    right: 0;
}
