.hero-block {
    position: relative;
    z-index: 1;   
    //margin-left: $spacer * -10;

    &__left {
        margin-bottom: $spacer * 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        left: 78px;
    }

    &__right{
        background: #FFFFFF;
        padding: $spacer * 2 $spacer * 2 $spacer * 2 $spacer * 2;
        margin-left: 20px;
        
        &__hello {
            font-size: 34px;
            color: rgba(75, 113, 226, 1);
        }

        &__text {
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 22px;
        background-color: white;
    }

    @media (min-width: $md) {
        padding-right: $spacer * 10;
        width: 70%;

        &__text {
            font-size: $font-size-xxl;
        }
    }

    @media (max-width: $sm) {
        &__left {
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: flex-start;
            left: 0px;
            padding: 0px 20px 0px 0px;
        }

        &__right {
            padding: 20px 0px 0px 0px;
            &__hello {
                margin-left: initial;
                font-size: 26px;
            }
            &__text {
                margin-left: auto;
            }
        }
    }
}