.input {
    border-radius: $border-radius;
    border: $border-width solid $border-color;
    padding: $spacer * 1.25 $spacer * 1.5;

    &:focus {
        border: $border-width solid $primary-1;
        outline: none;
    }
    
    &:active {
        border-color: white;
    }

    &::placeholder {
        font-family: inherit;
    }

    &_large {
        padding: $spacer * 1.75 $spacer * 2;
    }
}

.input_error {
    color: #EB5757;
    background: #FFFFFF;
    p#s{ font-size: small; }
}

