.link {
    text-decoration: none;
    color: $gray-900;
    display: inline-flex;
    
    &_color-white {
        color: $gray-100;
    }

    &__icon {
        margin-right: $spacer;
        font-size: $font-size-xxl;;
    }

    &:hover {
        text-decoration: underline;
    }
}