.margin-list {
    &__item {
        & + & {
            margin-top: $spacer * 2;
        }
    }

    a {
        text-decoration: none;
        color: #005BB9;
    }

    a:hover {
        text-decoration: underline;
    }

    ion-icon {
        vertical-align: sub;
    }

    @media screen and (min-width: $md) {
        &__item {
            & + & {
                margin-top: $spacer * 4;
            }
        }
    }

    @media (max-width: $md) {
        &__item {
            text-align: center!important;
            position: relative;
        }
    }
}