.paragraph {
    font-size: $font-size-base;
    font-weight: $font-weight-base;

    @media screen and (min-width: 769px) {
        padding: 0px 30px 0px 0px;
    }

    &_large {
        @media screen and (min-width: 769px) {
            //font-size: $font-size-xxl;
            padding-left: 60px;
        }
    }
}