.paragraph {
    font-size: $font-size-base;

    &_large {
        font-size: $font-size-lg;
    }

    @media screen and (min-width: $md) {
        
        &_large {
            font-size: $font-size-xxl;
        }
    }
}