.paragraph {
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    padding: 0px 30px 0px 0px;

    &_large {
        padding-left: 60px;
    }

    @media screen and (min-width: $md) {
        
        &_large {
            //font-size: $font-size-xxl;
        }
    }
}