.footer-wrapper {
    background-color: #002895;
    padding: $spacer * 6 0;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-image: url('~static/img/footer-pixel-left.png');
        left: 0;
        top: -70px;
        width: 100px;
        height: 100px;
    }

    &::after {
        position: absolute;
        content: "";
        background-image: url('~static/img/footer-pixel-right.png');
        right: 0;
        top: -70px;
        width: 100px;
        height: 100px;
    }
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-sm;
    color: white;
    flex-direction: column;
    align-items: flex-start;

    &__item {
        & + & {
            margin-top: $spacer * 2;
        }
    }
    
    @media (min-width: $md) {
        flex-direction: row;
        
        &__item {
            & + & {
                margin-top: 0;
            }
        }
    }
}

.footer-copyright {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: $spacer * 5;
    font-size: $font-size-sm;
    flex-direction: column;
    
    &__slogan {
    }
    
    &__copyright {
        margin-top: $spacer * 2;
    }
    
    @media (min-width: $md) {
        align-items: flex-end;
        flex-direction: row;

        &__copyright {
            margin-top: 0;
        }
    }
}