.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 2;
    font-size: $font-size-sm;
    z-index: 2;
    position: relative;
    flex-direction: column;
    background-color: transparent;

    &__item {
        & + & {
            margin-top: $spacer * 4;
        }
    }

    @media (min-width: $md) {
        flex-direction: row;

        &__item {
            & + & {
                margin-top: none;
            }
        }
    }
}

.header-logo {
    width: 200px;
    object-fit: contain;
}
