.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 2;
    font-size: $font-size-sm;
    z-index: 2;
    position: relative;
    flex-direction: column;

    font-weight: 600;

    margin-right: $spacer * 7;

    &__item {
        & + & {
            margin-top: $spacer * 4;
        }
    }

    @media (min-width: $md) {
        flex-direction: row;

        &__item {
            & + & {
                margin-top: none;
            }
        }
    }
}

.header-logo {
    width: 15%; //200px;
    object-fit: contain;
    margin-top: $spacer * 3;
    margin-left: 7%; //margin-left: $spacer * 11;
}
