.navigation {
    &__item {
        display: inline-block;
        color: black;
        text-decoration: none;

        .navigation_white & {
            color: white;
        }

        & + & {
            margin-left: $spacer * 3;
        }
    }
}