.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: $spacer * 2;
    padding-right: $spacer * 2;
    
    @media (min-width: $sm) {
        padding-left: $spacer * 4;
        padding-right: $spacer * 4;
    }
}

.section {
    padding: $spacer * 10 0;
    position: relative;
    z-index: 1;
    
    &_background {
        background-color: $secondary;
    }
    
    &_flying-pixels {
        &::before {
            z-index: -1;
            content: "";
            position: absolute;
            top: $spacer * 3;
            right: $spacer * 3;
            background-image: url('~static/img/flying-pixels.svg');
            width: 100px;
            height: 66px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__header {
        text-align: center;
        margin-bottom: $spacer * 6;
    }

    &__subtitle {
        margin-top: $spacer * 4;
        color: $gray-500;
        font-size: $font-size-lg;
    }

    @media (min-width: $lg) {
        padding: $spacer * 16 0;

        &_flying-pixels {
            &::before {
                width: 300px;
                height: 200px;
                top: $spacer * 6;
                right: $spacer * 6;
            }
        }

        &__subtitle {
            margin-top: $spacer * 4;
            color: $gray-500;
            font-size: $font-size-xxl;
        }
    }
}

@import 'footer';
@import 'header';
@import 'navigation';